Repository Glauber-Developer/BeTheFriend, pull requests merged in 2024-12, with the labels that each got.

#1 chore: create branch development
  README.md
Labels: infrastructure

#32 feat(swagger): add springdoc #26
  bethefriend/pom.xml
Labels: infrastructure, back

#33 feat(docker): add docker in project #25
  bethefriend-front/Dockerfile
  bethefriend-front/package-lock.json
  bethefriend-front/package.json
  bethefriend/Dockerfile
  bethefriend/src/main/resources/application.properties
  docker-compose.yml
Labels: infrastructure, back

#34 feat(configspring): add lombok and jpa in project #3
  bethefriend/pom.xml
Labels: infrastructure, back

#35 feat(dependencies): add postgresql and javax #3
  bethefriend/pom.xml
Labels: infrastructure, back

#36 Feature/screens HomePage
  bethefriend-front/img/Logotipo.png
  bethefriend-front/img/bola-botao.png
  bethefriend-front/src/components/button/button-menu-entrar.css
  bethefriend-front/src/components/button/button-menu-entrar.tsx
  bethefriend-front/src/main.tsx
  bethefriend-front/src/views/Home.css
  bethefriend-front/src/views/Home.tsx
Labels: feat, Front

#37 feat(userdomain): add User and UserType #2
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/User.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/UserType.java
Labels: feat, back

#38 Feat/userendpoints #16
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/UserController.java
Labels: feat, back

#39 feat(userservices): add FindUser #11
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/user/FindUser.java
Labels: feat, back

#41 feat(userrepository): add UserRepository #7
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/UserRepository.java
Labels: feat, back

#42 fix(userservice): fix name findByType to findUserByType #11
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/user/FindUser.java
Labels: bug, back

#43 feat(configuration): add dependencies #3
  bethefriend/pom.xml
  bethefriend/src/main/resources/application.properties
Labels: infrastructure, back

#45 feat(registerandlogin): add Spring Security and JWT #44
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/AuthenticationController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/service/AuthorizationService.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/service/TokenService.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/AuthenticationDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/LoginResponseDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/RegisterDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/security/SecurityConfiguration.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/security/SecurityFilter.java
Labels: infrastructure, feat, back

#46 fix(registerandauth): change name typeUser to type #44
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/AuthenticationController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/RegisterDTO.java
Labels: bug, infrastructure, back

#47 feat(activitydomain): add Activity #5
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/Activity.java
Labels: feat, back

#48 fix(userentity): change entity name ActivityEntity to Activity #2
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/User.java
Labels: bug, back

#49 feat(activitiesendpoints): add ActivityController #18
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/ActivityController.java
Labels: feat, back

#51 feat(activityrepository): add AcitivityRepository #9
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/ActivityRepository.java
Labels: feat, back

#52 fix(userfields): change name MessageEntity to Message and some fields #2
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/User.java
Labels: bug, back

#54 feat(messagecontroller): add MessageController #19
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/MessageController.java
Labels: feat, back

#55 feat(messageservice): add message services #14
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/FindMessageBetweenUsers.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/FindMessageByUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/SendMessage.java
Labels: feat, back

#56 feat(messagerepository): add MessageRepository #10
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/MessageRepository.java
Labels: feat, back

#57 Deploy 1.0
  bethefriend-front/Dockerfile
  bethefriend-front/img/Logotipo.png
  bethefriend-front/img/bola-botao.png
  bethefriend-front/package-lock.json
  bethefriend-front/package.json
  bethefriend-front/src/components/button/button-menu-entrar.css
  bethefriend-front/src/components/button/button-menu-entrar.tsx
  bethefriend-front/src/main.tsx
  bethefriend-front/src/views/Home.css
  bethefriend-front/src/views/Home.tsx
  bethefriend/Dockerfile
  bethefriend/pom.xml
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/ActivityController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/AuthenticationController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/MessageController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/UserController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/service/AuthorizationService.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/service/TokenService.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/CreateActivity.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/FindActivityByUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/FindAllActivities.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/FindMessageBetweenUsers.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/FindMessageByUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/SendMessage.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/user/FindUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/Activity.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/Message.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/AuthenticationDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/LoginResponseDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/RegisterDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/User.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/UserType.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/ActivityRepository.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/MessageRepository.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/UserRepository.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/security/SecurityConfiguration.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/security/SecurityFilter.java
  bethefriend/src/main/resources/application.properties
  docker-compose.yml
Labels: deploy

#58 fix(auth): change role and change type #44
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/AuthenticationController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/security/SecurityConfiguration.java
Labels: bug, back

#60 fix(userfield): change names about type user #59
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/user/FindUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/RegisterDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/UserType.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/UserRepository.java
Labels: bug, back

#67 feat(connectionrepository): add ConnectionRepository #64
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/ConnectionRepository.java
Labels: feat, back

#68 feat(connectionservice): add ConnectionService #65
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/service/ConnectionService.java
Labels: feat, back

#69 feat(connectionendpoint): add ConnectionController #66
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/ConnectionController.java
Labels: feat, back

#70 fix(pathpackageconn): fix path ConnectionStatus #65
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/service/ConnectionService.java
Labels: bug, back

#71 feat(connectiondomain): add Connection Entity and ConnectionStatus En…
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/connetion/Connection.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/connetion/ConnectionStatus.java
Labels: feat, back

#73 fix(messagefield): add param to find messages and change column name …
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/MessageController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/FindMessageBetweenUsers.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/FindMessageByUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/Message.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/MessageRepository.java
Labels: bug, back

#74 Deploy 1.0.1
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/AuthenticationController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/ConnectionController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/MessageController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/service/ConnectionService.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/CreateActivity.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/FindActivityByUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/FindMessageBetweenUsers.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/FindMessageByUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/user/FindUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/Activity.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/Message.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/connetion/Connection.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/connetion/ConnectionStatus.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/RegisterDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/UserType.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/ActivityRepository.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/ConnectionRepository.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/MessageRepository.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/UserRepository.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/security/SecurityConfiguration.java
Labels: deploy

#76 feat(cors): add WebConfig #75
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/config/WebConfig.java
Labels: infrastructure, feat, back

#77 feat(corsonsecurity): add cors into file SecurityConfiguration #75
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/security/SecurityConfiguration.java
Labels: infrastructure, feat, back

#79 Feat/login (login and register) : add loginpage and registrationpage #12
  bethefriend-front/src/views/Login/Login.css
  bethefriend-front/src/views/Login/Login.tsx
  bethefriend-front/src/views/Registration/Registration.css
  bethefriend-front/src/views/Registration/Registration.tsx
Labels: feat, Front

#80 feat (userlistpage) : add userpage and menu-bar-user #17
  bethefriend-front/src/components/menu-bar/menu-bar-user.css
  bethefriend-front/src/components/menu-bar/menu-bar-user.tsx
  bethefriend-front/src/views/Profiles/Profiles.css
  bethefriend-front/src/views/Profiles/Profiles.tsx
Labels: feat, Front

#81 feat (user) : add user details and User home page #21
  bethefriend-front/src/views/HomeUser/HomeUser.css
  bethefriend-front/src/views/HomeUser/HomeUser.tsx
  bethefriend-front/src/views/User/User.css
  bethefriend-front/src/views/User/User.tsx
Labels: feat, Front

#82 feat (activity) : add Schedule Activity page and MyActivities Page #24
  bethefriend-front/src/views/MyActivities/MyActivities.css
  bethefriend-front/src/views/MyActivities/MyActivities.tsx
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.css
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.tsx
Labels: feat, Front

#83 feat (login) : add changes on login page integration with back #12
  bethefriend-front/index.html
  bethefriend-front/package.json
  bethefriend-front/src/App.tsx
  bethefriend-front/src/components/button/button-menu-entrar.tsx
  bethefriend-front/src/components/menu-bar/menu-bar-user.tsx
  bethefriend-front/src/main.tsx
  bethefriend-front/src/services/auth/api.ts
  bethefriend-front/src/services/auth/authService.ts
  bethefriend-front/src/views/Login/Login.css
  bethefriend-front/src/views/Login/Login.tsx
Labels: feat, Front

#84 feat (register) : add integration with backend #28
  bethefriend-front/src/views/Registration/Registration.css
  bethefriend-front/src/views/Registration/Registration.tsx
Labels: feat, Front

#85 feat (homepage) : add button direction #15
  bethefriend-front/src/views/Home/Home.tsx
Labels: feat, Front

#86 feat (chat) : add image and chatpage #27
  bethefriend-front/img/chat.png
  bethefriend-front/src/views/Chat/Chat.css
  bethefriend-front/src/views/Chat/Chat.tsx
Labels: feat, Front

#87 feat (MyProfile) : add menu-bar-user path and screen MyProfile #21
  bethefriend-front/src/App.tsx
  bethefriend-front/src/views/MyProfile/MyProfile.css
  bethefriend-front/src/views/MyProfile/MyProfile.tsx
Labels: feat, Front

#88 feat (menubaruser) : add images, adjust homePageUser, menu-bar-user #12
  bethefriend-front/img/sair.png
  bethefriend-front/src/components/menu-bar/menu-bar-user.css
  bethefriend-front/src/components/menu-bar/menu-bar-user.tsx
  bethefriend-front/src/views/HomeUser/HomeUser.css
Labels: feat, Front

#90 feat(filtersprofile): add filters #89
  bethefriend-front/src/views/Profiles/Profiles.css
  bethefriend-front/src/views/Profiles/Profiles.tsx
Labels: feat, Front

#92 feat(filters): add filters logic #91
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/UserController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/user/FindUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/RegisterDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/User.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/UserRepository.java
Labels: feat, back

#94 feat(chatmessage): add DTO and change find messages between users #93
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/MessageController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/FindMessageBetweenUsers.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/FindMessageByUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/message/SendMessage.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/message/Message.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/message/MessageDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/repositories/MessageRepository.java
Labels: feat, back

#100 feat(routeschedule): add param #99
  bethefriend-front/src/App.tsx
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.tsx
Labels: feat, Front

#102 feat(profiles): change in profiles #101
  bethefriend-front/src/views/MyProfile/MyProfile.tsx
  bethefriend-front/src/views/Profiles/Profiles.tsx
Labels: feat, Front

#104 feat(routeschat): change routes #103
  bethefriend-front/src/views/Chat/Chat.tsx
Labels: feat, Front

#107 feat (homepage, WhoAreWepage) : adjust on css and WhoAreWepage #15
  bethefriend-front/img/Help.png
  bethefriend-front/img/icon-hamburger.png
  bethefriend-front/img/local.png
  bethefriend-front/src/App.tsx
  bethefriend-front/src/components/menu-bar/menu-bar.tsx
  bethefriend-front/src/views/Home.css
  bethefriend-front/src/views/Home.tsx
  bethefriend-front/src/views/Home/Home.css
  bethefriend-front/src/views/Home/Home.tsx
  bethefriend-front/src/views/WhoWeAre/WhoWeAre.css
  bethefriend-front/src/views/WhoWeAre/WhoWeAre.tsx
Labels: feat, Front

#111 feat(actions): add github actions #110
  .github/workflows/ci-cd.yml
Labels: infrastructure, feat

#112 fix(actions): add distribution temurin #110
  .github/workflows/ci-cd.yml
Labels: bug, infrastructure

#113 fix(authexception): add exception #44
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/AuthenticationController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/service/AuthorizationService.java
Labels: infrastructure, feat, back

#114 feat (ScheduleActivities) : adjust css #24
  bethefriend-front/src/views/MyActivities/MyActivities.css
  bethefriend-front/src/views/MyActivities/MyActivities.tsx
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.css
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.tsx
Labels: feat, Front

#116 feat(dataloader): add DataLoaderConfig #115
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/config/DataLoaderConfig.java
Labels: infrastructure, feat, back

#117 feat (Chat) : buttons for user with scheduled activities, css adjusts #27
  bethefriend-front/src/views/Chat/Chat.css
  bethefriend-front/src/views/Chat/Chat.tsx
Labels: feat, Front

#118 feat (myprofile) : add buttons to show status activity #21
  bethefriend-front/src/views/MyProfile/MyProfile.css
  bethefriend-front/src/views/MyProfile/MyProfile.tsx
Labels: feat, Front

#119 feat (menuBarUser) : remove schedule activities, add css features #30
  bethefriend-front/src/components/menu-bar/menu-bar-user.css
  bethefriend-front/src/components/menu-bar/menu-bar-user.tsx
Labels: feat, Front

#120 feat (registration) : add [ ] on "skills: selectedPerfil" #12
  bethefriend-front/src/views/Registration/Registration.tsx
Labels: feat, Front

#123 fix(myprofileschedule): fix waiting schedule #21
  bethefriend-front/src/views/MyProfile/MyProfile.tsx
Labels: feat, Front

#122 fix(chatlist): fix user list into chat #27
  bethefriend-front/src/views/Chat/Chat.tsx
Labels: feat, Front

#121 test(testUser): add UserControllerTest, UserControllerIntegrationTest…
  bethefriend/pom.xml
  bethefriend/src/test/java/com/bethefriend/bethefriend/app/controller/UserControllerIntegrationTest.java
  bethefriend/src/test/java/com/bethefriend/bethefriend/app/controller/UserControllerTest.java
Labels: feat, back, test

#124 feat (Profiles) : adjust position user-box, css, filters #17
  bethefriend-front/src/views/Profiles/Profiles.css
  bethefriend-front/src/views/Profiles/Profiles.tsx
Labels: feat, Front

#125 feat (user) : remover external user profile details #30
  bethefriend-front/src/App.tsx
  bethefriend-front/src/views/User/User.css
  bethefriend-front/src/views/User/User.tsx
Labels: feat, Front

#129 Feat/home3
  bethefriend-front/src/views/Home/Home.css
  bethefriend-front/src/views/Home/Home.tsx
  bethefriend-front/src/views/HomeUser/HomeUser.css
Labels: feat, Front

#127 Feat/profiles3
  bethefriend-front/src/views/Profiles/Profiles.tsx
Labels: feat, Front

#130 feat (homeUserPage) : adjusts configurations css #15
  bethefriend-front/src/views/HomeUser/HomeUser.css
  bethefriend-front/src/views/HomeUser/HomeUser.tsx
Labels: feat, Front

#131 feat (ScheduleActivities) : adjust css and typescript content #24
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.css
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.tsx
Labels: feat, Front

#132 feat (myprofile) : adjust css #126
  bethefriend-front/src/views/MyProfile/MyProfile.css
  bethefriend-front/src/views/MyProfile/MyProfile.tsx
Labels: feat, Front

#134 fix(userschat): fix get ids voluntario and senior #103
  bethefriend-front/src/views/Chat/Chat.tsx
Labels: bug, Front

#138 feat (profilesList) : adjust css #17
  bethefriend-front/src/views/Profiles/Profiles.css
Labels: feat, Front

#139 feat(userDTO): add UserDTO #137
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/UserDTO.java
Labels: feat, back

#136 feat(dtoactivity): add ActivityDTO and fix useCases and Controller #135
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/ActivityController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/CreateActivity.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/FindActivityByUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/ActivityDTO.java
Labels: feat, back

#140 feat (myprofile) : adjust css #21
  bethefriend-front/src/views/MyProfile/MyProfile.css
Labels: feat, Front

#141 feat (ScheduleActivities) : adjust css #24
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.css
Labels: feat, Front

#142 fix(activities): fix update activity #135
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/ActivityController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/UpdateActivityByUser.java
Labels: bug, back

#143 fix(myprofileactivity): fix update status #135
  bethefriend-front/src/views/MyProfile/MyProfile.tsx
Labels: bug, Front

#145 fix(filtersprofiles): fix filters #144
  bethefriend-front/src/views/Profiles/Profiles.tsx
Labels: bug, Front

#146 fix(buttonsform): fix type buttons #105
  bethefriend-front/src/views/Registration/Registration.tsx
Labels: bug, Front

#147 fix(fieldschedule): fix seniorid #99
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.tsx
Labels: bug, Front

#148 fix(userlistchat): fix routes and fields #103
  bethefriend-front/src/views/Chat/Chat.tsx
Labels: bug, Front

#149 Deploy 1.0.3
  .github/workflows/ci-cd.yml
  .vscode/settings.json
  bethefriend-front/src/App.tsx
  bethefriend-front/src/components/menu-bar/menu-bar-user.css
  bethefriend-front/src/components/menu-bar/menu-bar-user.tsx
  bethefriend-front/src/views/Chat/Chat.css
  bethefriend-front/src/views/Chat/Chat.tsx
  bethefriend-front/src/views/Home/Home.css
  bethefriend-front/src/views/Home/Home.tsx
  bethefriend-front/src/views/HomeUser/HomeUser.css
  bethefriend-front/src/views/HomeUser/HomeUser.tsx
  bethefriend-front/src/views/MyActivities/MyActivities.css
  bethefriend-front/src/views/MyActivities/MyActivities.tsx
  bethefriend-front/src/views/MyProfile/MyProfile.css
  bethefriend-front/src/views/MyProfile/MyProfile.tsx
  bethefriend-front/src/views/Profiles/Profiles.css
  bethefriend-front/src/views/Profiles/Profiles.tsx
  bethefriend-front/src/views/Registration/Registration.tsx
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.css
  bethefriend-front/src/views/ScheduleActivities/ScheduleActivities.tsx
  bethefriend-front/src/views/User/User.css
  bethefriend-front/src/views/User/User.tsx
  bethefriend-front/src/views/WhoWeAre/WhoWeAre.css
  bethefriend/pom.xml
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/ActivityController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/controller/AuthenticationController.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/service/AuthorizationService.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/CreateActivity.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/FindActivityByUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/app/usecase/activity/UpdateActivityByUser.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/ActivityDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/domain/user/UserDTO.java
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/config/DataLoaderConfig.java
  bethefriend/src/test/java/com/bethefriend/bethefriend/app/controller/UserControllerIntegrationTest.java
  bethefriend/src/test/java/com/bethefriend/bethefriend/app/controller/UserControllerTest.java
Labels: deploy

#153 test (ConectionService) : creat test to check connection services #152
  bethefriend/src/test/java/com/bethefriend/bethefriend/app/service/ConectionServiceTest.java
Labels: back, test

#154 fix(swagger): add routes into security #26
  bethefriend/pom.xml
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/security/SecurityConfiguration.java
  bethefriend/src/main/resources/application.properties
  docker-compose.yml
Labels: infrastructure, back

#155 Deploy 1.0.4
  bethefriend/pom.xml
  bethefriend/src/main/java/com/bethefriend/bethefriend/infrastructure/security/SecurityConfiguration.java
  bethefriend/src/main/resources/application.properties
  bethefriend/src/test/java/com/bethefriend/bethefriend/app/service/ConectionServiceTest.java
  bethefriend/src/test/java/com/bethefriend/bethefriend/app/usercase/user/UpdateUserTest.java
  docker-compose.yml
Labels: deploy
